body {
    background-color: #000000;
}

.btn-ouca-ja {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

.btn-ouca-ja:hover {
    background-color: #ffffff;
    transform: translateY(-2px);
}

.btn-ouca-ja:active {
    transform: scale(0.95);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 23px;
    text-align: center;
}

ol {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
}

.gif {
    border: 3px;
    border-radius: 10px;
}